<div home-page-container>
  <div class="search-box">
    <input type="text" class="main-search-bar" placeholder="Szukaj" />
  </div>

  <div class="content-box">
    <h1>Lorem ipsum dolor sit amet</h1>

    <p>
      consectetur adipiscing elit. Sed lobortis porttitor tortor et suscipit.
      Mauris viverra blandit sem, vel porttitor risus lacinia vel. Nulla in dui
      sed tortor pretium fringilla eget eget neque. Ut faucibus eleifend
      laoreet. In tristique ornare mi a fermentum. Orci varius natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse
      fringilla nibh at eros faucibus efficitur. Curabitur dignissim non dolor
      et laoreet. Vivamus id hendrerit sem.
    </p>

    <p></p>
    Ut lobortis urna et sem efficitur, sed auctor eros finibus. Donec molestie
    posuere enim a tincidunt. Nullam orci justo, faucibus facilisis feugiat at,
    pretium in sem. Nam fermentum eros quis nunc interdum scelerisque. Aenean
    facilisis odio nec leo pretium, vel dapibus massa finibus. Sed dapibus sed
    nibh non ullamcorper. Duis laoreet posuere feugiat. Praesent accumsan, ex
    nec maximus blandit, eros nulla egestas quam, id molestie erat purus eget
    lectus. Pellentesque vel augue ipsum. Pellentesque eros dui, porttitor eget
    quam gravida, posuere commodo nisi.
    <p></p>
    Aliquam fringilla nisi elit, finibus mollis sem tempor ut. Maecenas porta
    fringilla purus ut ultricies. Duis finibus lorem augue. Pellentesque aliquam
    suscipit consequat. Mauris quis libero eget neque maximus faucibus vitae eu
    lectus. Nulla ipsum urna, pharetra ut arcu nec, pharetra commodo leo. Nulla
    vel arcu quam. Phasellus id nunc magna. In tristique sapien ipsum, nec
    aliquet arcu congue non. Ut auctor quis nibh ut eleifend. Donec id quam
    lectus.
    <p></p>
    Curabitur sapien arcu, suscipit nec laoreet ut, bibendum sed neque. Nam
    venenatis massa in dui tempus placerat. Cras convallis, odio iaculis
    elementum luctus, urna dui varius erat, at aliquet leo ipsum ac est. Donec
    sollicitudin neque vitae leo venenatis lobortis. Nullam fringilla commodo
    magna at tempor. Duis nec orci ipsum. Ut viverra magna ex, iaculis molestie
    diam venenatis vitae. Nullam fringilla id dolor sit amet interdum. Aliquam
    faucibus urna eu velit consequat finibus.
    <p></p>
    Aenean consequat, odio sit amet mollis hendrerit, libero mi malesuada
    tellus, ut tempus ligula sem eu massa. Nulla ullamcorper consectetur
    hendrerit. Phasellus et ex et dui lobortis hendrerit eu quis sapien. Nunc
    ligula mauris, placerat vitae elementum ut, facilisis ut eros. Donec id
    augue non dui euismod volutpat. Suspendisse pellentesque purus ligula, ac
    lobortis erat lacinia quis. Ut porta mollis convallis. Orci varius natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas
    id urna ac massa hendrerit interdum rutrum vitae purus. Fusce eu nisi tempor
    ipsum dignissim hendrerit. Nam tortor dui, vulputate ornare suscipit
    volutpat, scelerisque pretium justo.
    <p></p>
    <p></p>
    Aenean consequat, odio sit amet mollis hendrerit, libero mi malesuada
    tellus, ut tempus ligula sem eu massa. Nulla ullamcorper consectetur
    hendrerit. Phasellus et ex et dui lobortis hendrerit eu quis sapien. Nunc
    ligula mauris, placerat vitae elementum ut, facilisis ut eros. Donec id
    augue non dui euismod volutpat. Suspendisse pellentesque purus ligula, ac
    lobortis erat lacinia quis. Ut porta mollis convallis. Orci varius natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas
    id urna ac massa hendrerit interdum rutrum vitae purus. Fusce eu nisi tempor
    ipsum dignissim hendrerit. Nam tortor dui, vulputate ornare suscipit
    volutpat, scelerisque pretium justo.
    <p></p>
    <p></p>
    Aenean consequat, odio sit amet mollis hendrerit, libero mi malesuada
    tellus, ut tempus ligula sem eu massa. Nulla ullamcorper consectetur
    hendrerit. Phasellus et ex et dui lobortis hendrerit eu quis sapien. Nunc
    ligula mauris, placerat vitae elementum ut, facilisis ut eros. Donec id
    augue non dui euismod volutpat. Suspendisse pellentesque purus ligula, ac
    lobortis erat lacinia quis. Ut porta mollis convallis. Orci varius natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas
    id urna ac massa hendrerit interdum rutrum vitae purus. Fusce eu nisi tempor
    ipsum dignissim hendrerit. Nam tortor dui, vulputate ornare suscipit
    volutpat, scelerisque pretium justo.
    <p></p>
    <p></p>
    Aenean consequat, odio sit amet mollis hendrerit, libero mi malesuada
    tellus, ut tempus ligula sem eu massa. Nulla ullamcorper consectetur
    hendrerit. Phasellus et ex et dui lobortis hendrerit eu quis sapien. Nunc
    ligula mauris, placerat vitae elementum ut, facilisis ut eros. Donec id
    augue non dui euismod volutpat. Suspendisse pellentesque purus ligula, ac
    lobortis erat lacinia quis. Ut porta mollis convallis. Orci varius natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas
    id urna ac massa hendrerit interdum rutrum vitae purus. Fusce eu nisi tempor
    ipsum dignissim hendrerit. Nam tortor dui, vulputate ornare suscipit
    volutpat, scelerisque pretium justo.
    <p></p>
  </div>
</div>
