<div home-page-container>
  <div class="wrapper">
    <div class="search-input">
      <input type="text" #searchBar placeholder="Type to search.." (keyup)="onKeyUpEvent($event)" />
      <div class="icon"><i class="fas fa-search"></i></div>
    </div>

    <div class="result-box" *ngIf="searchBar.value !== ''">
      <div class="search-result" *ngFor="let game of gamesSearchList" [routerLink]="['/game', game.steam_appid]">
        <div class="sug-game-img">
          <img src="{{ game.header_image }}" />
        </div>
        <div class="sug-game-name">
          <p>{{ game.name }}</p>
        </div>
        <div class="sug-game-price">
          <p *ngIf="game.price.final === 0">FREE</p>
          <p *ngIf="game.price.final === null">FREE</p>
          <p *ngIf="game.price.final > 0" style="color: var(--font-color)">${{ game.price.final }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="content-box">
    <div class="new-games-header">
      <div class="game-box-header">
        <p class="header-title">{{ titleText }}</p>
      </div>

      <div class="games-display-options">
        <div class="game-display-switch">
          <label>
            <input
              [attr.checked]="isRandomChecked ? true : null"
              type="checkbox"
              class="game-display-switch"
              (click)="switchGames()"
            />
            <span class="game-display-check">
              <p>{{ gameDisplayMode }}</p>
            </span>
          </label>
        </div>
      </div>
    </div>

    <div class="game-box" *ngFor="let game of games">
      <div class="game-index">
        <p>#{{ game.index + 1 }}</p>
      </div>

      <div class="game-image">
        <img src="{{ game.header_image }}" />
      </div>

      <div class="game-details">
        <div class="data-header">
          <div class="game-name-box">
            <abbr title="{{ game.name }}"
              ><p *ngIf="game.name.length > 35">{{ game.name.substring(0, 35) }}..</p></abbr
            >
            <p *ngIf="game.name.length < 35">{{ game.name }}</p>
          </div>
          <div class="game-owners-box">
            <p>
              <b>Owners:</b>
              <i
                >{{ utilService.abbreviateNumber(game.owners.lower_bound) }} -
                {{ utilService.abbreviateNumber(game.owners.upper_bound) }}</i
              >
            </p>
          </div>
        </div>

        <div class="dev-data-box">
          <abbr title="{{ game.developers }}" *ngIf="game.developers.length > 1"
            ><p><b>Developers:</b> {{ game.developers[0] }}..</p></abbr
          >
          <p *ngIf="game.developers.length === 1"><b>Developers:</b> {{ game.developers[0] }}</p>
          <abbr title="{{ game.publishers }}" *ngIf="game.publishers.length > 1"
            ><p><b>Publishers:</b> {{ game.publishers[0] }}..</p></abbr
          >
          <p *ngIf="game.publishers.length === 1"><b>Publishers:</b> {{ game.publishers[0] }}</p>
        </div>

        <div class="bottom-data-box">
          <div class="price-info">
            <p *ngIf="game.price.final === 0">FREE</p>
            <p *ngIf="game.price.final !== 0" style="color: var(--font-color)">${{ game.price.final }}</p>

            <div *ngIf="game.price.discount !== 0 && game.price.discount !== null" class="price-discount">
              <ul class="tags">
                <li>
                  <a href="#">-{{ game.price.discount.toFixed() }}%</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="opinion-info">
            <div
              class="positive-opinions"
              id="positive-opinions"
              #positive
              [ngStyle]="{width: gamesService.getOpinionPercent(game, gamesService.OpinionType.POSITIVE) + '%'}"
              (mouseenter)="gamesService.mouseEnter(positive)"
              (mouseleave)="gamesService.mouseLeave(game, positive, negative)"
            >
              <p>
                {{ gamesService.getOpinionPercent(game, gamesService.OpinionType.POSITIVE) }}%
                <span style="color: #c2c2c2">({{ game.positive }} votes)</span>
              </p>
            </div>
            <div
              class="negative-opinions"
              id="negative-opinions"
              #negative
              [ngStyle]="{width: gamesService.getOpinionPercent(game, gamesService.OpinionType.NEGATIVE) + '%'}"
              (mouseenter)="gamesService.mouseEnter(negative)"
              (mouseleave)="gamesService.mouseLeave(game, positive, negative)"
            >
              <p>
                {{ gamesService.getOpinionPercent(game, gamesService.OpinionType.NEGATIVE) }}%
                <span style="color: #c2c2c2">({{ game.negative }} votes)</span>
              </p>
            </div>
          </div>

          <div class="go-to-details-btn" [routerLink]="['/game', game.steam_appid]">
            <p>Details</p>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="bannerDisplayed">
      <div class="cookie-container">
        <div class="cookie-banner">
          <div class="cookie-logo">
            <img alt="" src="../../assets/cookie.png" />
          </div>
          <h2>We use cookies</h2>
          <p>This website uses cookies to ensure you get the best experience on our website</p>
          <div class="button-div">
            <button class="cookie-btn" (click)="hideCookieContainer()">Accept</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
