home-page-container
  width: 100%

.search-box
  margin: auto
  color: var(--font-color)
  background-color: inherit
  padding: 2em

input[type="text"]
  margin: auto
  display: block
  background-color: white
  width: 80%
  height: 10%
  border: none
  padding: 1em
  border-radius: 0.3em

input:focus
  outline: none !important
  transition: 0.3s

.content-box
  color: var(--font-color)
  padding: 2em
  margin: auto
