home-page-container
  width: 100%

.search-box
  margin: auto
  color: var(--font-color)
  background-color: inherit
  padding: 2em

input[type="text"]
  margin: auto
  display: block
  background-color: white
  width: 80%
  height: 10%
  border: none
  padding: 1em
  border-radius: 0.1em

input:focus
  outline: none !important
  transition: 0.3s

.content-box
  color: var(--font-color)
  padding: 2em
  margin: auto

.cookie-container
  position: fixed
  bottom: 0
  right: 0
  left: 0
  top: 0
  background-color: rgba(0,0,0, .5)
  color: var(--font-color)
  padding: 10px 25px
  z-index: 100

.cookie-banner
  max-width: 400px
  margin: 30vh auto
  background-color: var(--background-color-dark-version)
  padding: 30px
  box-shadow: 2px 2px 5px black

.cookie-banner h2
  text-align: center

.cookie-banner p
  text-align: center
  padding: 0 10px

.button-div
  margin: 30px auto 0 auto
  width: 80px

.cookie-btn
  background-color: var(--primary-color)
  cursor: pointer
  border-radius: 1em
  font-weight: bold
  width: 6em
  height: 3em
  border: none
  margin: 0 auto
  box-shadow: 2px 2px 5px black

.cookie-btn:hover
  background-color: var(--background-color-light-version)
  border: 1px solid var(--primary-color)
  transition: 0.2s

.cookie-logo
  width: 4em
  height: 4em
  margin: 0 auto

.cookie-logo img
  width: 100%
