<div class="registration-page-container">
  <div class="registration-form-container">
    <h1>Registration</h1>
    <form [formGroup]="regForm">
      <div class="text-field">
        <input type="text" name="userName" formControlName="userName" required />
        <span></span>
        <label>Username</label>
      </div>

      <div class="error-container" *ngIf="controls['userName'].errors && submitted">
        <div *ngIf="controls['userName'].errors['required']" class="error-hint">User name is required</div>
      </div>

      <div class="text-field">
        <input type="text" name="firstName" formControlName="firstName" required />
        <span></span>
        <label>First Name</label>
      </div>

      <div class="error-container" *ngIf="controls['firstName'].errors && submitted">
        <div *ngIf="controls['firstName'].errors['required']" class="error-hint">First name is required</div>
      </div>

      <div class="text-field">
        <input type="text" name="lastName" formControlName="lastName" required />
        <span></span>
        <label>Last Name</label>
      </div>

      <div class="error-container" *ngIf="controls['lastName'].errors && submitted">
        <div *ngIf="controls['lastName'].errors['required']" class="error-hint">Last name is required</div>
      </div>

      <div class="text-field">
        <input type="text" name="email" formControlName="mail" required />
        <span></span>
        <label>Email Address</label>
      </div>

      <div class="error-container" *ngIf="controls['mail'].errors && submitted">
        <div *ngIf="controls['mail'].errors['required']" class="error-hint">Email is required</div>
        <div *ngIf="controls['mail'].errors['email']" class="error-hint">Email must be a valid email address</div>
      </div>

      <div class="text-field">
        <input type="password" name="password1" formControlName="password" required />
        <span></span>
        <label>Password</label>
      </div>

      <div class="error-container" *ngIf="controls['password'].errors && submitted">
        <div *ngIf="controls['password'].errors['required']" class="error-hint">Password is required</div>
        <div *ngIf="controls['password'].hasError('minlength')" class="error-hint">
          Password must be at least 6 characters
        </div>
      </div>

      <div class="text-field">
        <input type="password" name="password2" formControlName="confirmPassword" required />
        <span></span>
        <label>Confirm Password</label>
      </div>

      <div class="error-container" *ngIf="controls['confirmPassword'].errors && submitted">
        <div *ngIf="controls['confirmPassword'].errors['required']" class="error-hint" style="margin-bottom: 1em">
          Password confirmation is required
        </div>
        <div *ngIf="controls['confirmPassword'].errors['mustMatch']" class="error-hint" style="margin-bottom: 1em">
          Password are not matching
        </div>
      </div>

      <div class="error-container" *ngIf="serverErrorStatus">
        <div *ngIf="serverErrorStatus" class="error-hint" style="margin-bottom: 1em">
          {{ serverErrorMsg }}
        </div>
      </div>

      <button class="submit-button" (click)="submit()">Sign up</button>
    </form>
  </div>
  <app-popup-alert *ngIf="registrationSucceed" [redirectUrl]="redirectUrl">
    <img img src="assets/success.svg" alt="success-icon" />
    <span title>Successful!</span>
    <span content>Your registration was successful! <br />Check your email for your account activation link.</span>
    <span btn-text>OK</span>
  </app-popup-alert>
</div>
