<div class="registration-page-container">
  <div class="registration-form-container">
    <h1>Registration</h1>
    <form>
      <div class="text-field">
        <input type="text" [(ngModel)]="userName" name="userName" required />
        <span></span>
        <label>Username</label>
      </div>

      <div class="text-field">
        <input type="text" [(ngModel)]="firstName" name="firstName" required />
        <span></span>
        <label>First Name</label>
      </div>

      <div class="text-field">
        <input type="text" [(ngModel)]="lastName" name="lastName" required />
        <span></span>
        <label>Last Name</label>
      </div>

      <div class="text-field">
        <input type="text" [(ngModel)]="email" name="email" required />
        <span></span>
        <label>Email Address</label>
      </div>

      <div class="text-field">
        <input type="password" [(ngModel)]="password1" name="password1" required />
        <span></span>
        <label>Password</label>
      </div>

      <div class="text-field">
        <input
          type="password"
          [(ngModel)]="password2"
          name="password2"
          (ngModelChange)="validatePasswords()"
          required
        />
        <span></span>
        <label>Confirm Password</label>
      </div>
      <div class="error_container">
        <label class="error-msg" *ngIf="showError">{{ errorMsg }}</label>
      </div>

      <button class="submit-button" (click)="registerUser()">Sign up</button>
    </form>
  </div>
</div>
