<nav>
  <h1>SteamDeals</h1>
  <ul [class.is-active]="check">
    <li><a href="#">Home</a></li>
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
  </ul>
  <div class="color-switcher">
    <label>
      <input
        [attr.checked]="isDark ? true : null"
        type="checkbox"
        class="color-switch-input"
        (click)="switchTheme()"
      />
      <span class="color-check"></span>
    </label>
  </div>

  <button class="burger" [class.is-active]="check" (click)="dropMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>
