<nav>
  <div class="nav-container">
    <div class="header-logo" onclick="window.location='/'">
      <img class="logo" src="assets/steam_deals_logo.svg" />
      <h1 class="logo-text">
        <span style="font-weight: 200">Steam</span>
        <span class="logo-color-part">Deals</span>
      </h1>
    </div>

    <div class="nav-resp" [class.is-active]="check">
      <div class="menu">
        <ul>
          <li><a href="/" class="is-active">Home</a></li>
          <li><a href="#">Link1</a></li>
          <li><a href="#">Link1</a></li>
        </ul>
      </div>

      <div class="login-div">
        <a href="/login">
          <button class="login-btn" *ngIf="!isLogged">Log in</button>
        </a>

        <button class="logout-btn" *ngIf="isLogged" (click)="logout()">Log out</button>
      </div>

      <div class="logged-user-panel" *ngIf="isLogged">
        {{ userDetails["username"] }}
      </div>
    </div>

    <div class="color-switcher">
      <label>
        <input
          [attr.checked]="isDark ? true : null"
          type="checkbox"
          class="color-switch-input"
          (click)="switchTheme()"
        />
        <span class="color-check"></span>
      </label>
    </div>

    <button class="hamburger" [class.is-active]="check" (click)="dropMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</nav>
