<nav>
  <div class="nav-container">
    <h1>SteamDeals</h1>

    <div class="menu">
      <a href="/" class="is-active">Home</a>
      <a href="#">Link1</a>
      <a href="#">Link2</a>
    </div>

    <div class="login-div">
      <button class="login-btn" *ngIf="!isLogged">
        <a href="/login">Zaloguj</a>
      </button>

      <button class="logout-btn" *ngIf="isLogged" (click)="logout()">
        Wyloguj
      </button>
    </div>

    <div class="logged-user-panel" *ngIf="isLogged" >
      {{userDetails['username']}}
    </div>

    <div class="color-switcher">
      <label>
        <input
          [attr.checked]="isDark ? true : null"
          type="checkbox"
          class="color-switch-input"
          (click)="switchTheme()"
        />
        <span class="color-check"></span>
      </label>
    </div>

    <button class="hamburger" (click)="expandHamburger(hamburger)" #hamburger>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</nav>
