*
  color: var(--font-color)
  margin: 0
  padding: 0
  box-sizing: border-box

nav
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 99
  background-color: var(--background-color-light-version)
  padding: 16px 32px
  border-bottom: 1px solid var(--primary-color)

.nav-container
  max-width: 1200px
  margin: 0 auto
  display: flex
  align-items: center
  justify-content: space-between

.nav-resp
  background: var(--background-color-light-version)
  display: flex
  align-items: center
  justify-content: center
  width: 80%

h1
  font-size: 28px
  font-weight: 900

.header-logo
  margin-top: auto
  margin-bottom: auto
  display: flex
  padding: 0.4em
  border-radius: 0.1em

.header-logo:hover
  background-color: var(--background-color-dark-version)
  cursor: pointer

.logo
  margin-right: 1em
  width: 3rem
  height: 3rem

.logo-text
  margin: auto

.logo-color-part
  color: var(--primary-color)

.menu
  display: flex
  flex: 1 1 0%
  justify-content: center
  margin: 0

.menu ul
  list-style-type: none
  display: flex
  justify-content: center
  padding: 20px

.menu ul li a
  color: var(--font-color)
  margin: 0 8px
  text-decoration: none
  transition: 0.1s
  padding: 8px 16px

.menu ul li a.is-active, .menu ul li a:hover
  border-bottom: 3px solid var(--primary-color)

.hamburger
  display: none
  position: relative
  z-index: 1
  user-select: none
  appearance: none
  border: none
  outline: none
  background: none
  cursor: pointer

.hamburger span
  display: block
  width: 33px
  height: 4px
  margin-bottom: 5px
  background-color: var(--font-color)
  border-radius: 6px
  z-index: 1
  transform-origin: 0 0
  transition: 0.4s

.hamburger:hover span:nth-child(2)
  transform: translateX(10px)
  background-color: var(--primary-color)

.hamburger.is-active span:nth-child(1)
  transform: translate(0px, -2px) rotate(45deg)

.hamburger.is-active span:nth-child(2)
  opacity: 0
  transform: translateX(15px)

.hamburger.is-active span:nth-child(3)
  transform: translate(-3px, 3px) rotate(-45deg)

.hamburger.is-active:hover span
  background-color: var(--primary-color)

//===========================COLOR-SWITCHER===============================

.color-switcher
  justify-content: center
  align-items: center
  float: right

input[type="checkbox"]
  -webkit-appearance: none
  visibility: hidden
  display: none

.color-check
  top: 20%
  position: relative
  display: block
  width: 60px
  height: 25px
  margin-left: 1em
  background: var(--background-color-dark-version)
  cursor: pointer
  border-radius: 20px
  overflow: hidden
  transition: ease-in 0.5s

input[type="checkbox"]:checked ~ .color-check
  background: var(--background-color-dark-version)

.color-check:before
  content: ''
  position: absolute
  top: 2px
  left: 2px
  background: white
  width: 21px
  height: 21px
  border-radius: 50%
  transition: 0.5s

input[type="checkbox"]:checked ~ .color-check:before
  transform: translateX(-70px)

.color-check:after
  content: ''
  position: absolute
  top: 2px
  left: 2px
  background: var(--primary-color)
  width: 21px
  height: 21px
  border-radius: 50%
  transition: 0.5s
  transform: translateX(70px)

.color-check p
  font-size: 9px
  color: #8a8989
  text-align: right
  margin-top: 0.8em
  margin-right: 1em
  transition: 0.2s

input[type="checkbox"]:checked ~ .color-check:after
  transform: translateX(0px)

.login-div
  align-items: center
  padding: 10px
  margin-right: 1em

.logged-user-panel
  align-items: center
  padding: 10px
  font-weight: bold
  border-bottom: 3px solid var(--primary-color)

.login-btn
  background-color: var(--primary-color)
  color: var(--font-color)
  cursor: pointer
  border-radius: 0.1em
  font-weight: bold
  width: 7em
  height: 3em
  border: none

.logout-btn
  background-color: var(--background-color-light-version)
  color: var(--font-color)
  border: 1px solid var(--primary-color)
  border-radius: 0.1em
  cursor: pointer
  width: 6em
  height: 3em

.login-btn:hover
  background-color: var(--background-color-light-version)
  border: 1px solid var(--primary-color)
  transition: 0.2s

.logout-btn:hover
  background-color: var(--primary-color)
  cursor: pointer
  transition: 0.2s

.login-btn a
  text-decoration: none

@media (max-width: 768px)
  .hamburger
    display: block

  .nav-resp
    position: absolute
    right: 0
    top: 94px
    width: 100%
    display: flex
    flex-direction: column-reverse
    justify-content: center
    align-items: center
    background: var(--background-color-dark-version)
    transform: translate(100%)

  .nav-resp.is-active
    transform: translate(0%)

  .menu ul
    display: flex
    justify-content: space-between
    flex-direction: column
    text-align: center
    width: 100%
    padding: 0

  .menu ul li
    padding: 25px

  .menu ul li a
    font-size: 1.2em
    letter-spacing: 2px

  .login-div
    margin: 0 auto

  .logged-user-panel
    margin: 10px auto
    text-align: center

  .color-switcher
    position: absolute
    right: 80px

@media (max-width: 450px)
  h1
    font-size: 22px
    font-weight: 700

  .logo
    margin-right: .5em
    width: 2rem
    height: 2rem

  .nav-resp
    top: 78px

.logged-user
  text-decoration: none

.logged-user:hover
  background-color: var(--background-color-dark-version)
  cursor: pointer