.back-button
  width: 20em
  height: 50px
  border: none
  background: var(--primary-color)
  border-radius: 0.1em
  font-size: 18px
  color: var(--font-color)
  font-weight: 700
  cursor: pointer
  outline: none

.back-button:hover
  transition: 0.2s
  background-color: var(--background-color-light-version)
  border: 1px solid var(--primary-color)