<div class="content-div" *ngIf="gameDetails | async as game">
  <div class="info-div">
    <div class="img-div"><img [src]="game.header_image" alt="game image" /></div>
    <div class="table-div">
      <p>{{ game.name }}</p>
      <table>
        <tr>
          <td>Developers:</td>
          <td>{{ game.developers }}</td>
        </tr>
        <tr>
          <td>Publishers:</td>
          <td>{{ game.publishers }}</td>
        </tr>
        <tr>
          <td>Owners:</td>
          <td>
            {{ utilService.abbreviateNumber(game.owners.lower_bound) }} -
            {{ utilService.abbreviateNumber(game.owners.upper_bound) }}
          </td>
        </tr>
        <tr>
          <td>Ccu yesterday:</td>
          <td>{{ game.ccu_yesterday }}</td>
        </tr>
      </table>
    </div>
    <div class="price-div">
      <a href="https://store.steampowered.com/app/{{ game.steam_appid }}" target="_blank"
        ><img src="assets/steam-get-it.png" alt="get it on steam"
      /></a>
      <h2 *ngIf="game.price.discount !== 0 && game.price.discount !== null" class="text_shadows">
        {{ game.price.discount.toFixed() }}%<br />DISCOUNT !!!
      </h2>
      <table>
        <tr *ngIf="game.price.initial !== game.price.final">
          <td>Regular price:</td>
          <td class="discount-price second-td">{{ game.price.initial | currency }}</td>
        </tr>
        <tr>
          <td *ngIf="game.price.final === 0" class="second-td">
            <span class="text_shadows" style="text-align: end">FREE</span>
          </td>
          <td *ngIf="game.price.final !== 0">Price:</td>
          <td *ngIf="game.price.final !== 0" class="second-td">
            <span class="price">{{ game.price.final | currency }}</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="opinion-info" *ngIf="game.positive !== 0 || game.negative !== 0">
    <div
      class="positive-opinions"
      id="positive-opinions"
      #positive
      [ngStyle]="{width: gamesService.getOpinionPercent(game, gamesService.OpinionType.POSITIVE) + '%'}"
      (mouseenter)="gamesService.mouseEnter(positive)"
      (mouseleave)="mouseLeave(game, positive, negative)"
    >
      <p>
        {{ gamesService.getOpinionPercent(game, gamesService.OpinionType.POSITIVE) }}%
        <span style="color: #c2c2c2">({{ game.positive }} votes)</span>
      </p>
    </div>
    <div
      class="negative-opinions"
      id="negative-opinions"
      #negative
      [ngStyle]="{width: gamesService.getOpinionPercent(game, gamesService.OpinionType.NEGATIVE) + '%'}"
      (mouseenter)="gamesService.mouseEnter(negative)"
      (mouseleave)="mouseLeave(game, positive, negative)"
    >
      <p>
        {{ gamesService.getOpinionPercent(game, gamesService.OpinionType.NEGATIVE) }}%
        <span style="color: #c2c2c2">({{ game.negative }} votes)</span>
      </p>
    </div>
  </div>
  <div class="opinion-info" *ngIf="game.positive === 0 && game.negative === 0">
    <div class="no-opinions" id="no-opinions">
      <p>NOT AVAILABLE</p>
    </div>
  </div>

  <div class="slider-div">
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let slide of game.screenshots" class="slide">
        <img src="{{ slide }}" alt="game screenshot" height="200px" width="100%" class="slider-img" />
      </div>
    </ngx-slick-carousel>
  </div>

  <div class="description-div">
    <h2>About this game:</h2>
    <div class="desc-div" [innerHTML]="game.detailed_description || game.short_description"></div>
  </div>
</div>
